.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle at 50% -60%, #3797d9 20%, black 54% 100%);
  background-position: center;

  color: white;
}
.logo {
  font-family: var(--logo);
  font-size: clamp(60px, 9vw + 1rem, 9rem);
}
.line {
  font-family: var(--title);
  font-size: clamp(13px, 2.5vw, 1.3rem);
  background: linear-gradient(
    90deg,
    rgba(55, 217, 219, 1) 50%,
    rgba(6, 141, 199, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.anime-1 {
  width: 300px;
  height: 300px;
  position: absolute;
  color: white;
}
